*{
    margin: 0px;
    padding: 0px;
    font-family: 'Kalam', cursive;
}
/*---------- navbar  -----------*/
#header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.2) url(img/wall.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}      
.whatsapp_float{
    position:fixed;
    bottom:40px;
    right: 20px;
}
.container{
    max-width: 2000px;
    height: 100%;
}
.navbar{
    display: flex;
    padding: 40px;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li :hover{
    color: black;
}
a{
    color:#ff523b;
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col{
    flex-basis: 50%;
    min-width: 300px;
}
.col img{
    max-width: 130%;
    padding-left: 50px 0;
}
.col h1{
    font-size: 47px;
    line-height: 60px;
    margin: 25px 0;
    text-align: center;
    padding-top: 100px;
    
}
.col p{
    text-align: center;
    color: #fff;
}
.menu{
    width: 30px;
    margin-left: 20px;
    display: none;
    padding-bottom: 40px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 50px 0;
    border-radius: 30px;
    transform: 0.5s;
    margin-left: 200px;  
}
.btn:hover{
    background: #563434;
}
.vtn{
   margin-left: 22%;
}
/*-------------   service  -----------------  */
#serivece{
    margin-top: 80px;
    padding: 30px 0;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.icon1{
    margin-left: 80px;
}
.col-3{
    flex-basis:25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.5s;
}
.col-3:hover{
    transform: translateY(-10px);
}
.col-3 img{
    padding-left: 50px;
    align-items: center;
}
.col-3 p{
    font-size: 14px;
    text-align: center;
}
.col-3 h4{
    text-align: center;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:black;
    font-size: 50px;
    margin-top: 30px;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------- Offer ------------------*/
.col-2 img{
    max-width: 130%;
    padding-left: 50px 0;
    margin-bottom:0%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.Right h1{
    text-align: center;
}
/* ------------- offer ---------------- */
.Offer{
    background: url(video/video2.mp4);
    height: 80vh;
    padding-top: 70px;
}
/*-------------------- Fotter -------------------*/
footer{
    background:rgb(253, 119, 9);;
    padding: 8px;
    color: #eee;
    display: flex;
}
footer a{
    color:white ;

}
footer #left-footer{
    flex:1;
    border-right: 1px solid red;
    padding-left: 30px;
}
footer #left-footer ul{
    padding: 0px;
    list-style: none;
    line-height: 1.5;

}
footer #right-footer{
    flex: 2;
    text-align: center;
    padding: 8px;
}
footer #social-media-footer a .fa-facebook
footer #social-media-footer a .fa-instagram
footer #social-media-footer a .fa-github{
    color: white;
    transition: 0.4s
}
footer #social-media-footer ul{
 display: flex;
 list-style: none;
 justify-content: center;
 padding: 0;   
}

footer #social-media-footer ul li{
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}
footer #social-media-footer ul li:hover a .fa-facebook{
    color: rgb(5, 45, 126);
}
footer #social-media-footer ul li:hover a .fa-github{
    color: rgba(255, 218, 11, 0.986);
}   
footer #social-media-footer ul li:hover a .fa-instagram{
    color: rgb(253, 9, 143);
}
/*---------------- phone ---------------------- */
@media only screen and (max-width:800px){
    .navbar{
        padding-top: 5px;
    }
    .logo{
        padding-left: 2px;
    }
    .col{
        margin-top: 20%;
    }
    .col h1{
        font-size: 40px;
        padding-top: 20px;
    }
    .col p{
        font-size: 15px;
    }
    nav ul{
        position: absolute;
        top:50px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
    }
    nav ul li{ 
        display: block;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 10px;
        
        
    }
    nav ul li a{
        font-size: 12px;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .col-3 img{
        align-items: center;
        padding-left: 15px;
    }
    .col-2 p{
        padding-right: 20%;
    }
    .col-2 img{
        width: 230px;
        margin-left: 10%;
    }
    .col-2 small{
        font-size: 10px;
    }
    .vio{
        width: 300px;
    }
    .btn{
        margin: auto;
        margin-left: 20%;
        margin-top: 10%;
    }
    .midea{
        margin: 20px;
        margin-left: 20%;
        align-items: center;
    }
    footer{
        flex-direction: column;
        text-align: center;

    }
    footer #left-footer{
        flex: 1;
        padding-left: 0;
        border-right: 0;
    }
    footer #right-footer{
        background: #eee;
        color: black;
    }
    footer #right-footer a{
        color: black;
    }
    footer #social-media-footer a .fa-fcebook,
    footer #social-media-footer a .fa-github,
    footer #social-media-footer a .fa-instagram{
        color: black;
        transition: 0.2s;
     
    }
}




/*-------------- service page -------------- */

header1{
    background: linear-gradient(rgba(217, 212, 218, 0.7),rgba(199, 240, 238, 0.7));
}